/*
 * Project: OpenAuto
 * This file is part of openauto project.
 * Copyright (C) 2025 OpenCarDev Team
 *
 *  openauto is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation; either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  openauto is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with openauto. If not, see <http://www.gnu.org/licenses/>.
 */

version: '3.8'

services:
  # ARMhf (32-bit ARM) build environment
  build-armhf:
    build:
      context: .
      dockerfile: Dockerfile.cross
      args:
        DEBIAN_RELEASE: trixie
        TARGET_ARCH: armhf
        BUILD_TESTS: "false"
      platforms:
        - linux/arm/v7
    volumes:
      - .:/src
      - ./artifacts/armhf:/output
    environment:
      - TARGET_ARCH=armhf
      - BUILD_TESTS=false
    profiles:
      - armhf
      - all

  # ARM64 (64-bit ARM) build environment  
  build-arm64:
    build:
      context: .
      dockerfile: Dockerfile.cross
      args:
        DEBIAN_RELEASE: trixie
        TARGET_ARCH: arm64
        BUILD_TESTS: "false"
      platforms:
        - linux/arm64
    volumes:
      - .:/src
      - ./artifacts/arm64:/output
    environment:
      - TARGET_ARCH=arm64
      - BUILD_TESTS=false
    profiles:
      - arm64
      - all

  # Development environment for testing
  dev-armhf:
    build:
      context: .
      dockerfile: Dockerfile.cross
      args:
        DEBIAN_RELEASE: trixie
        TARGET_ARCH: armhf
        BUILD_TESTS: "true"
      platforms:
        - linux/arm/v7
    volumes:
      - .:/src
      - ./artifacts/armhf-dev:/output
    environment:
      - TARGET_ARCH=armhf
      - BUILD_TESTS=true
    command: /bin/bash
    stdin_open: true
    tty: true
    profiles:
      - dev